#pragma once

#include <gnuradio-4.0/Block.hpp>
#include <gnuradio-4.0/BlockRegistry.hpp>
{% if uses_complex %}
#include <complex>
#include <cmath>
{% endif %}
{% if multi_output %}
#include <tuple>
#include <span>
{% endif %}

namespace {{ namespace }} {
using namespace gr;

template<{{ template_decl }}>
struct {{ block_name }} : Block<{{ block_name }}<{{ template_args }}>> {
    using Description = Doc<"{{ description }}">;

{% for port in in_ports %}
    PortIn<{{ port.type }}> {{ port.name }};
{% endfor %}
{% for port in out_ports %}
    PortOut<{{ port.type }}> {{ port.name }};
{% endfor %}

    GR_MAKE_REFLECTABLE({{ block_name }}, {{ all_port_names | join(', ') }});

{% if processing_style == 'processOne' %}
    [[nodiscard]] constexpr {{ return_type }} processOne({{ params_str }}) const noexcept {
{% if work_body_comment %}
{{ work_body_comment }}
{% else %}
        // TODO: implement
{% endif %}
        return {};
    }
{% else %}
    [[nodiscard]] gr::work::Status processBulk({{ bulk_params_str }}) noexcept {
{% if simd %}
        // SIMD-vectorizable: loop body has no cross-iteration dependencies.
        const std::size_t n = {% if in_ports %}{{ in_ports[0].name }}{% else %}{{ out_ports[0].name }}{% endif %}.size();
#pragma GCC ivdep
        for (std::size_t i = 0; i != n; ++i) {
{% if in_ports and out_ports %}
            {{ out_ports[0].name }}[i] = {{ in_ports[0].name }}[i]; // TODO: implement
{% else %}
            // TODO: implement
{% endif %}
        }
{% elif work_body_comment %}
{{ work_body_comment }}
{% else %}
        // TODO: implement
{% endif %}
        return gr::work::Status::OK;
    }
{% endif %}
};

GR_REGISTER_BLOCK("{{ namespace }}::{{ block_name }}", {{ namespace }}::{{ block_name }}, {{ template_param_macro }}, [ {{ type_list }} ])

} // namespace {{ namespace }}
